$primary-main-color: #16064f;
$secondary-main-color: #2e0fa1;
$hover-main-color: #ffffff43;
$hover-radial-gredient: radial-gradient(circle closest-side, $hover-main-color, $primary-main-color);
$text-color: gold;
$hover-button: 0 0 10px rgb(255, 232, 103);