@import 'variables';

@import 'mixins';

main {
	.main-wrapper {
		.field {
			.card.template {
				display: none;
			}
			.card {
				max-width: 100%;
				.face {
					@include card-face-style(100%);
					&.guessed {
						opacity: 0.1;
					}
					.card-back {
						width: 100%;
						height: 100%;
						overflow: hidden;
						z-index: 10;
						border-radius: 5px;
						.back {
							width: 100%;
							height: 100%;
						}
						p {
							text-align: justify;
							@include text-style(1em);
						}
					}
				}
			}
		}
	}
}
