@import 'variables';

@import 'mixins';

main{
  .main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .field{
      display: flex;
      justify-content: center;
      flex: 1 1 100px;
      .cards{
        display: grid;
        grid-template-columns: repeat(3, 230px);
        grid-template-rows: repeat(2, 340px);
        @include text-style(1.2em);
        column-gap: 10px;
        @include border-style();
        margin: 20px;
      }
    }
  }
}