@import 'variables.scss';

@import 'mixins.scss';

body {
	.wrapper {
		.header {
			.header__logo {
				width: 100px;
				height: 100px;
				&:hover {
					background: $hover-radial-gredient;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		main{
			.main-wrapper{
				.field{
					.card{
						.face{
							.img{
							@include card-img-style();
							}
						}
					}
				}
			}
		}
		footer{
			.footer__logo{
				width: 50px;
				height: 50px;
				border-right: gold 2px solid;
				margin-right: 50px;
				padding-right: 50px;
				img{
					width: 100%;
					height: 100%;
					&:hover{
						background: $hover-radial-gredient;
					}
				}
			}
		}
	}
}
