@import 'variables';

@mixin mix-size($fx, $fy) {
	width: $fx;
	height: $fy;
}

@mixin text-style($fz) {
	font-family: Macondo;
	color: $text-color;
	font-size: $fz;
	text-shadow: 1px 1px 1px rgb(135, 119, 29);
}

@mixin border-style() {
	border: $text-color solid 8px;
	border-radius: 10px;
	box-shadow: $element-shadow;
}

@mixin icon-style($fx, $fy) {
	content: '';
	display: inline-block;
	background-size: contain;
	@include mix-size($fx, $fy);
}

@mixin card-face-style($fmw) {
	display: flex;
	flex-direction: column;
	border: 10px solid rgb(105, 75, 0);
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
	margin: 5px;
	align-items: center;
	max-width: $fmw;
	height: 260px;
	cursor: pointer;
}

@mixin card-img-style() {
	flex: 1 1 auto;
	border-radius: 5px;
	border-bottom:rgb(105, 75, 0) solid 2px;
	height: 230px;
	overflow: hidden;
	img{
		width: 100%;
	}
}

@mixin modal-style() {
	display: none;
	position: fixed;
	background-color: $primary-main-color;
	z-index: 20;
	@include border-style();
}
