@import 'variables.scss';

@import 'mixins';

.overlay {
	display: none;
	align-content: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 15;
	.modal.win {
		@include modal-style();
		.modal-wrapper {
			display: flex;
			flex-direction: column;
			align-content: stretch;
			justify-content: space-evenly;
			align-items: center;
			.congratulation {
				@include text-style(3em);
				margin: 50px 100px 50px 100px;
			}
			.scores {
				@include text-style(2.5em);
				margin: 50px;
				text-align: center;
			}
			.icon {
				&::before {
					@include icon-style(30px, 30px);
				}
				&::after {
					@include icon-style(30px, 30px);
				}
			}
			.value-time {
				margin: 0 0 20px 0;
			}
			.value-scores {
				margin: 20px 0 0 0;
				&::before {
					background-image: url('../../image/icons/beans.gif');
				}
				&::after {
					background-image: url('../../image/icons/beans.gif');
				}
			}
		}
		.navigation {
			margin: 50px 100px 50px 100px;
			nav {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				@include text-style(2em);
				.modal-btn-leaders {
					margin: 0 30px 0 0;
				}
				.modal-btn-restart {
					margin: 0 0 0 30px;
				}
			}
		}
	}
}
