/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  overflow: hidden;
  font-family: Macondo;
  height: calc(100% - 1px);
}
html .wrapper,
body .wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html .wrapper header,
body .wrapper header {
  background-color: #16064f;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 50px black;
  z-index: 10;
  font-family: Macondo;
  color: gold;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
}
html .wrapper main,
body .wrapper main {
  flex: 1 1 auto;
  background-color: #2e0fa1;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}
html .wrapper main .active,
body .wrapper main .active {
  display: none;
}
html .wrapper footer,
body .wrapper footer {
  background-color: #16064f;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -10px 30px black;
  z-index: 10;
  font-family: Macondo;
  color: gold;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
}
html .wrapper footer a,
body .wrapper footer a {
  font-family: Macondo;
  color: gold;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
  text-decoration: none;
}
html .wrapper footer a:hover,
body .wrapper footer a:hover {
  -moz-text-shadow: 0 0 10px rgb(255, 232, 103);
  -webkit-text-shadow: 0 0 10px rgb(255, 232, 103);
  text-shadow: 0 0 10px rgb(255, 232, 103);
}

.left {
  flex: 0 1 20%;
  margin-left: 0;
}

.right {
  flex: 0 1 20%;
  margin-right: 0;
}

body .wrapper .header .header__logo {
  width: 100px;
  height: 100px;
}
body .wrapper .header .header__logo:hover {
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.262745098), #16064f);
}
body .wrapper .header .header__logo img {
  width: 100%;
  height: 100%;
}
body .wrapper main .main-wrapper .field .card .face .img {
  flex: 1 1 auto;
  border-radius: 5px;
  border-bottom: rgb(105, 75, 0) solid 2px;
  height: 230px;
  overflow: hidden;
}
body .wrapper main .main-wrapper .field .card .face .img img {
  width: 100%;
}
body .wrapper footer .footer__logo {
  width: 50px;
  height: 50px;
  border-right: gold 2px solid;
  margin-right: 50px;
  padding-right: 50px;
}
body .wrapper footer .footer__logo img {
  width: 100%;
  height: 100%;
}
body .wrapper footer .footer__logo img:hover {
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.262745098), #16064f);
}

body button {
  background: rgba(255, 255, 255, 0);
  border: 0;
  font-family: Macondo;
  color: gold;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
}
body button:hover {
  -moz-text-shadow: 0 0 10px rgb(255, 232, 103);
  -webkit-text-shadow: 0 0 10px rgb(255, 232, 103);
  text-shadow: 0 0 10px rgb(255, 232, 103);
  cursor: pointer;
}

main .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-wrapper .field {
  display: flex;
  justify-content: center;
  flex: 1 1 100px;
}
main .main-wrapper .field .cards {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 300px);
  font-family: Macondo;
  color: gold;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
  column-gap: 10px;
  border: gold solid 8px;
  border-radius: 10px;
  box-shadow: 0 0 20px gold;
  margin: 5px;
}

main .main-wrapper .field .card.template {
  display: none;
}
main .main-wrapper .field .card {
  max-width: 100%;
}
main .main-wrapper .field .card .face {
  display: flex;
  flex-direction: column;
  border: 10px solid rgb(105, 75, 0);
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  margin: 5px;
  align-items: center;
  max-width: 100%;
  height: 260px;
  cursor: pointer;
}
main .main-wrapper .field .card .face.guessed {
  opacity: 0.1;
}
main .main-wrapper .field .card .face .card-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  border-radius: 5px;
}
main .main-wrapper .field .card .face .card-back .back {
  width: 100%;
  height: 100%;
}
main .main-wrapper .field .card .face .card-back p {
  text-align: justify;
  font-family: Macondo;
  color: gold;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
}

.overlay {
  display: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}
.overlay .modal {
  display: none;
  position: fixed;
  background-color: #16064f;
  z-index: 20;
  border: gold solid 8px;
  border-radius: 10px;
  box-shadow: 0 0 20px gold;
}
.overlay .modal .modal-wrapper {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
.overlay .modal .modal-wrapper .congratulation {
  font-family: Macondo;
  color: gold;
  font-size: 3em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
  margin: 50px 100px 50px 100px;
}
.overlay .modal .modal-wrapper .scores {
  font-family: Macondo;
  color: gold;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
  margin: 50px;
  text-align: center;
}
.overlay .modal .modal-wrapper .icon::before {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.overlay .modal .modal-wrapper .icon::after {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.overlay .modal .modal-wrapper .value-time {
  margin: 0 0 20px 0;
}
.overlay .modal .modal-wrapper .value-scores {
  margin: 20px 0 0 0;
}
.overlay .modal .modal-wrapper .value-scores::before {
  background-image: url(/image/icons/beans.gif);
}
.overlay .modal .modal-wrapper .value-scores::after {
  background-image: url(/image/icons/beans.gif);
}
.overlay .modal .navigation {
  margin: 50px 100px 50px 100px;
}
.overlay .modal .navigation nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: Macondo;
  color: gold;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgb(135, 119, 29);
}
.overlay .modal .navigation nav .modal-btn-leaders {
  margin: 0 30px 0 0;
}
.overlay .modal .navigation nav .modal-btn-restart {
  margin: 0 0 0 30px;
}

@font-face {
  font-family: Macondo;
  src: url("../../fonts/Macondo-Regular.ttf");
}/*# sourceMappingURL=style.css.map */